.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 100px; */
}

.button_arrow_container {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.dropdown__button {
    background-color: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.dropdown__content {
    z-index: 1;
    /* display: none; */
    min-width: 160px;
    background-color: inherit;
    opacity: 0;
    height: 0;
    transition: opacity 1s ease, height 1s ease;
}

.dropdown_item {
    background-color: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
    text-decoration: none;
    display: block;
    cursor: pointer;

    text-align: center;
}

.dropdown_item:hover {
    background-color: inherit;
}

.show {
    opacity: 1;
    height: auto;
    /* display: block; */
}

.dropdown-menu {
    /* display: none; */
    max-height: 0;
    max-width: 0;
    opacity: 0;
    transition: opacity 0.8s ease, height 0.8s ease;
    background-color: #E3E3E3;

}

.dropdown-menu_item {
    border: none;
}

.dropdown-menu_item:nth-last-child(n + 2) {
    border-bottom: 1px solid #FFFFFF;
}

.price_service_head_content_dropdown {
    width: 250px;
}

.dropdown-menu_item_head {
    margin-bottom: 15px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-size: 21.5307px;
    line-height: 28px;
    /* or 130% */


    color: #2F353D;
}

.price_service_content_dropdown {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-size: 12.1695px;
    line-height: 28px;
    /* or 231% */


    color: #939496;
}

.price_service_center_content_dropdown {
    margin-top: auto;
}

.price_service_center_dropdown {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-size: 8.42504px;
    line-height: 28px;
    /* or 333% */


    color: #B4B4B4;
}

.price_service_right_dropdown {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
    font-size: 21.5307px;
    line-height: 28px;
    /* or 130% */

    text-align: right;

    color: #2F353D;
}

.menu-active {
    padding: 40px 25px 10px 50px;
    /* display: block; */
    max-height: fit-content;
    max-width: 100%;
    opacity: 1;
}