.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.button_arrow_container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdown__button {
    background-color: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.dropdown__content {
    z-index: 1;
    display: none;
    min-width: 160px;
    background-color: inherit;
}

.dropdown_item {
    background-color: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
    text-decoration: none;
    display: block;
    cursor: pointer;

    text-align: center;
}

.dropdown_item:hover {
    background-color: inherit;
}

.show {
    display: block;
}