.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__button {
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown__content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown__content a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown__content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}