body {
  font-family: 'Jura', sans-serif;
  margin: 0;
}

* {
  margin: 0;
}

a {
  color: #2F353D;
  text-decoration: none;
}

.landing_header {
  background: linear-gradient(to left, #F5F5F5 50%, #FFFFFF 50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px 128px;

  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 80px;
  /* or 235% */


  color: #2F353D;
}

.phone_burger {
  display: flex;
  gap: 220px;
}

.swiper_block {
  padding: 0 0 40px 120px;
  display: flex;
  gap: 70px;
  margin-bottom: 100px;
}

.swiper_content {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper_head {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  /* or 133% */


  color: #2F353D;

  margin-bottom: 55px;

}

.swiper_text {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */


  color: #000000;

  margin-bottom: 87px;

}

.swiper_buttons {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 30px;
}

.swiper_button {
  width: 260px;
  height: 70px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  background: #2F353D;
  color: #FFFFFF;
  cursor: pointer;
  border: none;

}

.arrow_bottom {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.swiper_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exposition {
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: flex-start;
  gap: 80px 86px;
}

.exposition_content {
  width: 260px;
  height: 90px;
  background-color: #F5F5F5;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* or 125% */


  color: #2F353D;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  box-sizing: border-box;
  position: relative;
}

.exposition_number {
  position: absolute;
  bottom: 40px;
  right: -25px;
  width: 100px;
}

.exposition_number_year {
  right: -60px;
}

.services {
  padding: 0 120px;
  margin-bottom: 210px;
}

.services_head {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
  /* identical to box height, or 115% */


  color: #2F353D;
  margin-bottom: 30px;
}

.services_head_mini {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */


  color: #979797;

  margin-bottom: 65px;
}

.services_container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.sevice_block {
  background: #F5F5F5;
  padding: 30px 40px;
  box-sizing: border-box;
}

.sevice_block_mini {
  width: 40%;
}

.sevice_block_big {
  width: 55%;
}

.service_icon {
  margin-bottom: 10px;
}

.service_head {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */


  color: #2F353D;
}

.service_text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #2F353D;
}

.discuss_the_project {
  display: flex;
  gap: 140px;
  background-color: #2F353D;
  padding: 50px 80px 70px 120px;
  box-sizing: border-box;
  max-height: 530px;
  margin-bottom: 150px;
}

.discuss_image {
  position: relative;
  top: -170px;
}

.discuss_button {
  background: #FFFFFF;
  color: #2F353D;
  position: relative;
  top: -120px;
}

.discuss_head_mini {
  margin-bottom: 16px;
}

.discuss_head {
  color: #FFFFFF;
}

.discuss_text {
  color: #FFFFFF;
}

.technologies {
  margin-bottom: 50px;
}

.technologies img {
  width: 100%;
}

.achievements_and_partners {
  margin-bottom: 15px;
}

.partners_container {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}

.partners_img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prices {
  height: 1189px;
  background-color: #2F353D;
  padding: 75px 120px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.prices_head {
  font-family: 'Jura';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 50px;
  /* identical to box height, or 96% */


  color: #FFFFFF;

  text-align: center;
  margin-bottom: 33px;
}