body {
  font-family: 'Jura';
  margin: 0;
}

a {
  color: #2F353D;
  text-decoration: none;
}

.landing_header {
  background: linear-gradient(to left, #F5F5F5 50%, #FFFFFF 50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 120px 128px;

  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 80px;
  /* or 235% */


  color: #2F353D;
}

.phone_burger {
  display: flex;
  gap: 220px;
}

.swiper_block {
  padding: 0 0 0 120px;
  display: flex;
  gap: 70px;
}

.swiper_head {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  /* or 133% */


  color: #2F353D;
}